.nav {
  display: flex;
  justify-content: space-between;
}

.nav h1 {
  color: blueviolet;
  font-size: 40px;
  margin: 0;
}

.nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  padding-left: 15px;
  padding-top: 15px;
}

.nav li a {
  text-decoration: none;
  color: blueviolet;
}

.nav .nav-search {
  margin-top: 5px;
  display: flex;
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
}

.nav .nav-search input {
  flex: 1;
  color: blueviolet;
  border: 1px blueviolet solid;
  height: 35px;
  border-right: 0px;
  padding-left: 3px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
}

.nav .nav-search button {
  color: blueviolet;
  border: 1px blueviolet solid;
  height: 39px;
  border-left: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
